<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src = 'C:\Users\Ben\Desktop\_Coding BootCamp\_weeks lessons\week 14\CMS_Blog\createBlog.js' defer></script>
    <title>CreateBlog</title>
</head>
<body>
    <header id='blogTitle'>
        <input id='inputTitle' type='text'>
    </header>
    <div id='blogText'>
        <p>Type Blog Here</p>
        <input id='inputText' type='text'>
    </div>
    <button id='newBlogBTN'>Add</button>
</body>