<header id='blogTitle'>
    <input id='inputTitle' type='text'>
</header>
<div id='blogText'>
    <p>Type Blog Here</p>
    <input id='inputText' type='text'>
</div>
<button id='newBlogBTN'>Add</button>